* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(83, 107, 99);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  display: none;
}
